SECRET_KEY="django-insecure-w=35(l$9anj81ac@srv7(2f5_6drg_mi1t%=sfjsa@4unhol=9"
EDENAI_BEARER_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiMzEyMjAwMzQtMjExOC00ZmRlLWE1ZGItMWFkZjYyODU3NmU3IiwidHlwZSI6ImFwaV90b2tlbiJ9.79gEu4r-png1niIisT2zYOrR1y82ohwmkzjx6IFk9Zk